<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /ai-assment-generation-ui/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /ai-assment-generation-ui/index.html [L]
</IfModule>
